@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&amily=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: rgb(238, 121, 117);
    --light: #fff;
    --font-size-base: clamp(16px, 1vw + 0.5rem, 18px);
    --font-size-h1: clamp(2.25rem, 2.5vw + 1rem, 4rem);
    --font-size-nav: clamp(1rem, 1.15vw + 0.35rem, 1.35rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size-base);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;

    &:hover {
        filter: brightness(90%);
    }
}

ul {
    list-style-type: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar Start */

.navbar {
    /* position: sticky;
    top: 0; */
    letter-spacing: .25ch;
    background-color: var(--accent-color);

    ul.nav-list {
        display: flex;
        padding: 0 clamp(0.5rem, 3vw + .5rem, 3rem);
        gap: clamp(1rem, 1.5vw, 1.75rem);
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        font-size: var(--font-size-nav);

        li {
            padding: clamp(0.35rem, 0.8vw, 0.6rem) clamp(0.75rem, 2vw, 1.5rem);
            background-color: var(--accent-color);
            border-radius: 0.5vw;
            transition: filter 0.5s linear;

            &:hover {
                filter: brightness(80%);
                cursor: pointer;
            }
        }
    }

    .hamburger-wrapper {
        width: 2rem;
        height: max-content;

        /* 
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2.5rem;
            aspect-ratio: 1;
        */

        img {
            width: 100%;
        }
    }
}

/* Navbar End */

/* Hero Section Start */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgb(253, 246, 183), rgb(244, 180, 240) 85%);

    .hero-img {
        width: 50%;
        height: 100vh;
    }

    .hero-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-inline: clamp(1rem, 5vw, 4rem);

        .hero-title {
            text-transform: uppercase;
            letter-spacing: .25ch;
        }

        .hero-text {
            display: block;
            line-height: 1.75;
            padding-block: 5vw;
            font-size: var(--font-size-base);
            font-weight: 300;
        }

        .hero-action-btn {
            width: max-content;
            align-self: left;
            padding: .75rem 3.75rem;
            background-color: var(--accent-color);
            color: var(--light);
            font-weight: 600;
            font-size: var(--font-size-base);
        }
    }
}

/* Hero Section End */

/* About Section Start */

.about-section {
    min-height: 100vh;
    display: flex;
    gap: clamp(2rem, 3vw, 5rem);
    align-items: center;
    padding: 10vh 5vw;
    background-image: linear-gradient(120deg, rgb(253, 246, 183), rgb(244, 180, 240) 70%);

    .image-grid-wrapper {
        flex-shrink: 0;
        width: 50%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;

        .col {
            display: flex;
            flex-direction: column;
        }

        img {
            width: 100%;
            aspect-ratio: 4/3;
        }

        img:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
        }
    }

    .about-content {
        max-width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: var(--accent-color);
        font-size: var(--font-size-base);

        .sub-title {
            text-transform: uppercase;
            font-size: var(--font-size-base);
        }

        .title {
            font-size: var(--font-size-h1);
            letter-spacing: .25ch;
            margin-block: 1rem;
            line-height: 1;
            text-transform: uppercase;
        }

        .arrow-img {
            width: 1.5rem;
            aspect-ratio: 1;
        }

        .action-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            margin-top: 1rem;
            gap: .75rem;
        }
    }
}

/* Responsive code */

@media screen and (max-width: 1023px) {

    nav.navbar ul.nav-list {
        /* gap: 0rem; */
        white-space: nowrap;

        li {
            padding: .35rem;
            font-size: var(--font-size-nav);
        }
    }


    .about-section {
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(95deg, rgb(253, 246, 183), rgb(244, 180, 240) 85%);
        padding-inline: 3rem;

        .image-grid-wrapper {
            width: 100%;
        }

        .about-content {
            min-width: 50vw;
        }
    }
}

/* Medium Width Devices End */

/* Small Width Devices Start */

@media screen and (max-width: 767px) {
    nav.navbar ul.nav-list {
        flex-direction: column;
        padding: .5rem 1rem;

        li {
            width: 100%;
            padding: .35rem 0;
        }

        li:not(:last-child) {
            border-bottom: 1px solid #0002;
        }

        li.nav-list-item:last-child {
            display: flex;

            button {
                margin-left: auto;
            }
        }
    }

    .hero-section {
        flex-direction: column-reverse;
        gap: 2rem;
        padding-bottom: 2rem;

        .hero-img {
            width: 100%;
            height: 70vh;
        }

        .hero-content {
            padding-block: 0;
            min-height: 100%;
        }
    }

    .about-section {
        padding: 1rem;

        .image-grid-wrapper {
            display: block;

            img.grid-img {
                margin-bottom: .25rem;
            }
        }

        .about-content {
            width: fit-content;
            max-width: 100%;
        }
    }
}


/* Small Width Devices End */